<div class="container">
<div class="row">
    <div class="col-8">
      
     <div class="row mb-4">
       <h4 class="page-heading">Log in</h4>
     </div>
     <div class="row">
      <form (ngSubmit)="login()" [formGroup]="userForm">
        <div class="row">
          <div class="input-group mb-2">
            <label class="col-3 label" for="">User Name</label>
            <input type="text" class="form-control form-control-sm" placeholder="User Name" formControlName="userName" >
          </div>
          <div class="input-group mb-2">
           <label class="col-3" for="">Password</label>
           <input type="password" class="form-control form-control-sm" placeholder="Password"  formControlName="password">
         </div>
           <div class="input-group">
             <input type="submit" style="float:right !important" class=" btn btn-block btn-success" value="Log in">
           </div>
      </div>
       </form>
     </div>
    <div class="row" *ngIf="errorMessage != ''">
      <p style="color:red">{{errorMessage}}</p>
    </div>
     
   </div>
</div>
</div>